<ion-header>
  <ion-toolbar>
    <ion-title>Open Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar #searchBar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
    <ion-item-sliding *ngFor="let order of ordersRep; let i = index" #slidingItem>
      <ion-item [routerLink]="[order.id]" [color]="(i % 2 === 0) ? '' : 'light'"> 
        <ion-label class="ion-text-capitalize">{{order?.numOrderId}} </ion-label>
      </ion-item>
  
      <div > 
        <ion-item-options side="end">
          <ion-item-option color="secondary">
            <ion-icon name="create" slot="icon-only"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="showDeleteAlert(order.id, slidingItem)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
         
      </ion-item-options>
      </div>
    </ion-item-sliding>
  </ion-list>

</ion-content>
