<ion-list>
  <!-- <ion-list-header>
    texts
  </ion-list-header> -->

  <ion-item>
    <ion-label>Total Charge</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.totalCharge}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Subtotal</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.subtotal}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Currency</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.currency}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Total Discount</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.totalDiscount}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Tax</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.tax}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>PostageCost</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.postageCost}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Conversion Rate</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.conversionRate}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Country Tax Rate</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.countryTaxRate}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Payment Method</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.paymentMethod}}</ion-text>
  </ion-item>

  <ion-item>
    <ion-label>Profit Margin</ion-label>
    <ion-text slot="end" color="tertiary">{{total?.profitMargin}}</ion-text>
  </ion-item>
</ion-list>